.image-logo{
    width: 300px;
}

.navbar{
    padding: 0px;
    display: inline;

}

.min-height{
}

.footer{

    text-align: center;
    height: 80px;
    color: black;
    background-color: green;
    padding-top: 25px;
}


.margin-top{
    margin-top: 10px;
}
